@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins
}
a{
    cursor: pointer;
}

// Welcome Page
.welcome-page{
    background-image: url('../assets/gradient.png');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    header{
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        padding: 0em 3em;
        .logo{
            width: 150px;
        }
        .signin-grp{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1em;
            a{
                color: #292B3D;
                text-decoration: none;
                padding: .3em 1em;
                border-radius: 5px;
                font-size: 1rem;
                cursor: pointer;
                &:hover{
                    background-color: #F6D42D;
                }
            }
        }
    }

    main{
        position: absolute;
        bottom: 0;
        width: 100vw;
        padding-bottom: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
            font-size: 3rem;
            font-weight: 800;
            color: #292B3D;
        }
        p{
            font-size: .9rem;
            font-weight: 400;
            color: white;
            width: 50vw;
            padding-top: 2em;
        }
    }

    small{
        padding-top: 2em;
    }
    .discover {
        margin-top: 2em;
        border-radius: 5px;
        padding: 10px 25px;
        font-family: Poppins;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        text-decoration: none;
        text-align: center;
        border: none;
        background: #F6D42D;
      }
      .discover:hover {
        color: #F6D42D;
        background: transparent;
        box-shadow:none;
      }
      .discover:before,
      .discover:after{
        content:'';
        position:absolute;
        top:0;
        right:0;
        height:2px;
        width:0;
        background: #F6D42D;
        box-shadow:
         -1px -1px 5px 0px #fff,
         7px 7px 20px 0px #0003,
         4px 4px 5px 0px #0002;
        transition:400ms ease all;
      }
      .discover:after{
        right:inherit;
        top:inherit;
        left:0;
        bottom:0;
      }
      .discover:hover:before,
      .discover:hover:after{
        width:100%;
        transition:800ms ease all;
      }
}

// Login Page
.login-body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f4f4;
}

.container{
    width: 650px;
    height: 400px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    display: flex;
    position: relative;
    form{
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        h1{
           font-size: 2rem;
           font-weight: 900;
           color: #292B3D;
        }
        .input-grp{
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0em 2em;
            gap: 1em;
            input{
                border: none;
                width: 100%;
                height: 30px;
                padding-left: 1em;
                border-radius: 3px;
                background-color:  rgba(29, 28, 28, 0.151);
            }
        }
        small{
            color: grey;
            cursor: pointer;
        }
        button{
            border: none;
            background-color: #292B3D;
            padding: 0.5em 3em;
            border-radius: 500px;
            font-weight: 500;
            color: white;
            cursor: pointer;
        }
    }
    .move-left{
        
    }
    .mask{
        width: 50%;
        height: 100%;
        background-color: #292B3D;
        position: absolute;
        border-radius: 7px 0 0 7px;
        display: grid;
        place-items: center;
        transition: transform .5s ease-in;

        .old-container,.new-container{
            color: #F6D42D;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p{
                margin-top: 2em;
                font-size: 12px;
                font-weight: 300;
                color: #F6D42D;
            }
            button{
                border: 1px solid #F6D42D;
                background-color: transparent;
                border-radius: 100px;
                color: #F6D42D;
                margin-top: 1em;
                padding: 0.2em 3em;
                cursor: pointer;
            }
        }
        .old-container{
            display: none;
        }
    }
}

// Home Page
.navigation-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 2em;
    width: 100vw;
    position: absolute;
    top: 0;
    background-color: transparent;
    .logo{
        width: 150px;
    }
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        ul{
            display: flex;
            list-style-type: none;
            padding-right: 3em;
            gap: 1.5em;
            li a{
                text-decoration: none;
                color: white;
                &:hover{
                    color: #F6D42D;
                }
            }
        }
        .contact{
            text-decoration: none;
            color: black;
            background-color: #F6D42D;
            padding: .2em 1em;
            font-weight: 500;
            border-radius: 3px;
        }
    }        
}
footer{
    background-color: #292B3D;
    width: 100vw;
    padding: 3em 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    ul{
        list-style-type: none;
        li{
            color: rgb(95, 93, 93);
            padding-bottom: .75em;
            a{
                text-decoration: none;
                color: rgb(95, 93, 93);
            }
        }
    }
    .logo{
        width: 200px;
    }
}
.home-body{
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
      }
    .hero-sec{
        width: 100vw;
        height: 100vh;
        background-color: #292B3D;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .hero-content{
            display: flex;
            flex-direction: column;
            color: white;
            width: 55vw;
            padding-top: 3em;
            padding-left: 5em;
            h1{
                font-size: 3rem;
                font-weight: 800;
            }
            p{
                font-size: .9rem;
                font-weight: 300;
                padding-bottom: 2em;
            }
            .take-test{
                background-color: #F6D42D;
                border-radius: 3px;
                padding: .3em 1em;
                color: black;
                text-decoration: none;
                width: 125px;
                text-align: center;
                font-weight:500;
            }
        }
        .boy{
            width: 30vw;
            margin-right: 4em;
            margin-top: 5em;
        }
    }
    .mar-wrap{
        width: 100vw;
        background-color: #F76EA8;
        position: relative;
        a{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            background-color: #292B3D;
            text-decoration: none;
            color: #F6D42D;
            padding: 1em 2em;
            font-weight: 800;
            text-transform: uppercase;
            border-radius: 5px;
            z-index: 5
        }
        marquee{
            width: 100vw;
            height: 100px;
            padding: 1em 0em;
            z-index: 2;
            background-color: #F76EA8;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3rem;
            font-weight: 900;
            color: white;
        }
    }
    .depression{
        width: 100vw;
        display: flex;
        padding: 5em 5em;
        .heart{
            width: 400px;
            border-radius: 10px;
        }
        .depression-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 2em;
            h1{
                font-size: 2rem;
                font-weight: 800;
            }
            p{
                padding: 1em 5em;
                text-align: center;
            }
            a{
                color: white;
                background-color: #292B3D;
                text-decoration: none;
                padding: .5em 2em;
                border-radius: 3px;
                margin-top: 2em;
            }
        }
    }
}


